{% extends 'base.html.twig' %}

{% block title %}#BalanceTaMR - Paramètres{% endblock %}

{% block navbar %}
    <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-link" role="button" title="{{ team.name }}">
        <img src="{{ team.pictureUrl }}" class="img-fluid rounded-circle" alt="rounded circle image"
             style="height: 100%">
    </a>
{% endblock %}

{% block body %}
    <div class="container-sm">
        <h1>Paramètres de l'équipe</h1>
        <div class="form-group">
            {{ include('team/_form.html.twig') }}
        </div>

        <div class="row justify-content-around">
            <a class="btn" role="button" href="{{ path('team_index') }}">
                <i class="fas fa-arrow-left" aria-hidden="true"></i> Retourner à la liste des profils
            </a>
            {{ include('team/_delete_form.html.twig') }}
        </div>


    </div>
{% endblock %}


