{% extends 'base.html.twig' %}

{% block title %}#BalanceTaMR - Équipes{% endblock %}

{% block navbar %}
    <a href="{{ path('updateProject_index') }}" class="btn btn-primary" role="button">
        <i class="fas fa-sync" aria-hidden="true"></i> Rafraîchir les projets
    </a>
{% endblock %}

{% block body %}
    <h1 class="text-center">Choisissez une équipe</h1>

    <div class="container-sm d-flex flex-row flex-wrap justify-content-center align-items-center">
        {% for team in teams %}
            <div class="w-250 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                <div class="card">
                    <div class="text-right"> <!-- text-right = text-align: right -->
                        <a href="{{ path('team_edit', {'id': team.id}) }}" class="text-muted">
                            <i class="fas fa-cog fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="text-center">
                        <img src="{{ team.pictureUrl }}" class="img-fluid rounded-circle profile-picture-huge shadow-lg"/>
                        <h2 class="card-title">{{ team.name }}</h2>
                        <a href="{{ path('team_show', {'id': team.id}) }}" class="btn btn-lg" type="button">Choisir</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="w-200 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->

                <div class="text-center" data-toggle="tooltip" data-title="Créer une équipe">
                    <a href="{{ path('team_new') }}"><img src="/img/blank_team.svg" class="img-fluid rounded-circle shadow-lg"/></a>
                </div>
        </div>

    </div>
{% endblock %}
