{% extends 'base.html.twig' %}

{% block title %}#BalanceTaMR - {{ team.name }}{% endblock %}

{% block navbar %}
    <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-link" role="button" title="{{ team.name }}">
        <img src="{{ team.pictureUrl }}" class="img-fluid rounded-circle" style="height: 100%">
    </a>
{% endblock %}

{% block body %}
<div class="container-sm">
    <h1>Dashboard</h1>
    {% if projects != null %}
    <div class="d-flex flex-row flex-wrap justify-content-center">
        {% for project in projects %}
            {% for merge in project %}

                <div class="w-500">
                    <div class="card p-0">
                        <!-- First content container nested inside card -->
                        <div class="content">
                            <div class="content-title">
                                <h2 class="content-title">{{ merge.title }}</h2>
                            </div>

                            <div class="container-fluid">
                                <div class="row justify-content-start align-items-center">
                                    <div class="col-1" data-toggle="tooltip"
                                         data-title="{{ merge.author.name }}">
                                        <img src="{{ merge.author.avatar_url }}"
                                             class="img-fluid rounded h-25 w-25"
                                             alt="Photo de profil du créateur">
                                    </div>
                                    <div class="col-auto mr-10">
                                    <span class="text-muted">
                                      <i class="fa fa-clock-o mr-5"
                                         aria-hidden="true"></i> {{ merge.created_at|date('Y-m-d H:i') }}
                                    </span>
                                    </div>
                                    <div class="col">
                                        <div class="badge-group" role="group">
                                            <span class="badge  badge-primary badge-pill">
                                                {{ merge.web_url|split('/',6)[4] }}
                                            </span>
                                        </div>

                                        <span class="badge-group" role="group">
                                      <span class="badge">
                                          <i class="fas fa-comments"
                                             title="Commentaires"></i> {{ merge.user_notes_count }}
                                      </span>
                                      <span class="badge badge-success">
                                          <i class="fas fa-thumbs-up" title="Upvotes"></i> {{ merge.upvotes }}
                                      </span>
                                      <span class="badge badge-danger">
                                          <i class="fas fa-thumbs-down" title="Downvotes"></i> {{ merge.downvotes }}
                                      </span>
                                    </span>
                                    </div>
                                </div>
                                {% if merge.labels %}

                                    <div class="row justify-content-start align-items-center">
                                        <span class="mr-5">Tags : </span>
                                        {% for label in merge.labels %}
                                            <span class="badge m-5">{{ label }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <hr/>
                        <div class="content">
                            {% if merge.description %}
                                <h2 class="content-title">
                                    Description
                                </h2>
                                <p>
                                    {{ merge.description }}
                                </p>
                            {% endif %}
                            <div class="text-center mt-20">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{{ path('merge_request', {'slug' : merge|merge({'element': 'value'})}) }}"
                                       class="btn btn-sm">Détails</a>
                                    <a href="{{ merge.web_url }}" target="_blank"
                                       class="btn btn-sm btn-secondary"
                                       role="button">Voir sur GitLab</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% else %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <img src="/img/error.svg" class="h-300">
            </div>
            <div class="row flex-column align-items-center">
                <h2>Pas de projets</h2> <br>
                <p>Mais pas de soucis, vous pouvez en ajouter <a href="{{ path('team_edit', {'id': team.id}) }}">
                        ici</a> !</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
